/* search.css */

.container.search-results-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.search-results-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #e34348;
  margin-bottom: 40px;
}

.result-card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.result-card:hover {
  transform: scale(1.02);
}

.result-card-body {
  padding: 20px;
}

.result-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.result-card-summary {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}

.result-card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  color: #888;
}

.news-category {
  color: #e34348;
  font-weight: bold;
}

.pagination-button {
  color: #e34348;
  font-weight: bold;
  border-radius: 20px;
}

.pagination-button:hover {
  background-color: #e34348;
  color: white;
}

.pagination-button:disabled {
  font-weight: 700; 
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #d3d3d3; 
  color: #6c757d; 
  border-color: #d3d3d3;
}

.pagination-info {
  font-size: 1rem;
  font-weight: bold;
}

.next-buttons {
  display: flex;
  align-items: center;
  justify-content: center; /* 필요에 따라 left, right로 조정 가능합니다 */
}

.links {
  text-decoration: 'none'; 
  color: 'inherit';
}