/* searchbar.css */
.search-bar-form {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.search-bar-input {
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: bold;
  color: #e34348;
}

.search-bar-button {
  border: none;
  background-color: transparent;
  color: #e34348;
  border-radius: 30px;
}
